{% extends 'layout.html' %}
{% block content %}
<style>
    /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */

    #map {
        height: 100vh;
/*        width: 75vw;
*/    }

    /* Optional: Makes the sample page fill the window. */

  /*  html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }*/
</style>

    <div class="row">
            <div class="card col m8 s12" id="map"></div>
            <div class="col m4 s12">
            <div class="card  teal lighten-1">
                <div class="card-content white-text">
                    <div class="row">
                        <div class="col s8">
       <!--                      <select>
                              <option value="" disabled selected>Activity</option>
                                {% for activity in templateActivities%}
                                    <option value="{{activity.id}}">{{activity.name}}</option>
                              {% endfor %}
                            </select> -->
                            <select id="activity-options">
                                <option value="" disabled selected>Activity</option>
                            </select>
                        </div>
                        <div class="col s2">
                            <input placeholder="Time" class="timepicker">
                        </div>
                        <div class="col s2">
                            <a id="activity-button" onclick="Materialize.toast('Activity added!', 1000, 'rounded')" class="btn-floating btn-small waves-effect waves-teal white
    "><i class="material-icons">add</i></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s8">
<!--                             <select>
                              <option value="" disabled selected>Hotel</option>
                              {% for hotel in templateHotels%}
                              <option value="{{hotel.id}}">{{hotel.name}}</option>
                              {% endfor %}
                            </select> -->
                            <select id="hotel-options">
                                <option value="" disabled selected>Hotel</option>
                            </select>
                        </div>
                         <div class="col s2">
                            <input placeholder="Time" class="timepicker">
                        </div>
                        <div class="col s2">
                            <a id="hotel-button" onclick="Materialize.toast('Hotel added!', 1000, 'rounded'); " class="btn-floating btn-small waves-effect waves-teal  white
    "><i class="material-icons">add</i></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s8">
<!--                             <select>
                              <option value="" disabled selected>Restaurant</option>
                                {% for restaurant in templateRestaurants%}
                                    <option value="{{restaurant.id}}">{{restaurant.name}}</option>
                                {% endfor %}
                            </select> -->
                            <select id="restaurant-options">
                                <option value="" disabled selected>Restaurant</option>
                            </select>
                        </div>
                       <div class="col s2">
                            <input placeholder="Time" class="timepicker">
                        </div>
                        <div class="col s2">
                            <a id="restaurant-button" onclick="Materialize.toast('Restaurant added!', 1000, 'rounded')" class="btn-floating btn-small waves-effect waves-teal white
    "><i class="material-icons">add</i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card  teal lighten-1">
                <div class="card-content white-text">
                    <span class="card-title">Day</span><a id='day-delete' style='color:white'>X</a>
                    <a id="day-button" onclick="Materialize.toast('Day added!', 1000, 'rounded')" class="btn-floating btn-small waves-effect waves-teal white
    "><i class="material-icons">add</i></a>
                    <!-- <input placeholder="Select" type="date" class="datepicker"> -->
                    <div id="days-div"></div>
                    <ul class="collapsible" data-collapsible="expandable">
                        <li>
                          <div class="collapsible-header white black-text"><i class="material-icons">location_city</i>Hotel</div>
                          <div class="collapsible-body white black-text">
                            <ul id="hotel-list">
                            </ul>
                        </div>
                        </li>
                        <li>
                          <div class="collapsible-header white black-text"><i class="material-icons">golf_course</i>Activities</div>
                          <div class="collapsible-body white black-text">
                            <ul id="activity-list">
                            </ul>
                            </div>
                        </li>
                        <li>
                          <div class="collapsible-header white black-text"><i class="material-icons">restaurant</i>Restaurant</div>
                          <div class="collapsible-body white black-text">
                            <ul id="restaurant-list">
                            </ul>
                          </div>
                        </li>
                    </ul>


                </div>
            </div>
        </div>
    </div>

    <script src="js/map.js"></script>
    <script>
      var hotels = {{ templateHotels | dump | safe }};
      var restaurants = {{ templateRestaurants | dump | safe }};
      var activities = {{ templateActivities | dump | safe }};
    </script>
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdH7cLIXpsc8UzTFos7ATIjACMn2HlCdo&callback=initMap" async defer></script> 

{% endblock %}
